<div id="chatContainer" class='container-fluid d-flex flex-column text-warning'>

    <div class="messages-box col mt-3">
        <div class="user-area p-2 mx-3 d-none">
            <label for="user">Contectado como:</label>
            <input type="text" name="user" id="userInput" disabled />
        </div>
        <ul id="message-list" class="messages-list mx-5 p-2 list-group col-5 border-1 border-dark"></ul>
    </div>

    <div class="boxchat col">
        <form id="message-box" action="#" class="col d-flex flex-wrap flex-column align-content-center mt-1">
            <input name="message" type="text" class="col-5 p-2 border-1 border-dark rounded">
            <button class="btn btn-primary col-5 mt-1 rounded border-1 border-dark">Enviar Mensaje!</button>
        </form>
    </div>

</div>