<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="body background-pattern">
    
    {{> header}}

    <div class="background-pattern min-vh-100">
    
        {{#if section_title}}
            {{#if section_title_description}}
                <div class="d-flex flex-column col-3 mt-2 mx-2 p-2 border border-dark title-container">
                    <h1 class="section-title">{{section_title}}</h1>
                    <p class="text-warning">{{section_title_description}}</p>
                </div>
            {{/if}}
        {{/if}}
    
        <section class="container-fluid d-flex flex-column justify-content-center align-items-center mt-2">

            {{{body}}}
    
        </main>
    
        {{> footer}}
    
    </section>
</body>

</html>