<div id="cartContainer" class="d-flex flex-column col-12 text-white border border-dark rounded">
    <div class="d-flex flex-column">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">title</th>
                    <th scope="col" class="text-center">code</th>
                    <th scope="col" class="text-center">price</th>
                    <th scope="col" class="text-center">cantidad</th>
                    <th scope="col" class="text-center">actions</th>
                </tr>
            </thead>
            <tbody id="cart-table-body">
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" class="text-end">Total</th>
                    <th id="totalPrice"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>