<div>
    <button class="btn btn-success border border-dark" type="button" data-bs-toggle="modal"
        data-bs-target="#createProductModal">Crear Producto</button>
</div>

<div id="productsContainer" class='d-flex flex-wrap'></div>


<div class="modal fade" id="createProductModal" role="dialog" aria-labelledby="createProductModalTitle"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProductModalTitle">Crear Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="createProductForm" action="#">
                <div class="modal-body">

                    <div class="form-floating my-2">
                        <input type="text" name="title" id="inputProductTitle" class="form-control" required>
                        <label for="inputProductTitle">T&iacute;tulo del Producto</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" name="description" id="inputProductDescription" class="form-control"
                            required>
                        <label for="inputProductDescription">Descripci&oacute;n del Producto</label>
                    </div>

                    <div class="form-floating my-2">
                        <input type="text" name="code" id="inputProductCode" class="form-control" required>
                        <label for="inputProductCode">C&oacute;digo del Producto</label>
                    </div>

                    <div class="form-floating">
                        <input type="number" step="0.01" name="price" id="inputProductPrice" class="form-control"
                            required>
                        <label for="inputProductPrice">Precio del Producto</label>
                    </div>

                    <div class="form-floating my-2">
                        <input type="number" name="stock" id="inputProductStock" class="form-control" required>
                        <label for="inputProductStock">Stock del Producto</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" name="category" id="inputProductCategory" class="form-control" required>
                        <label for="inputProductCategory">Categoria del Producto</label>
                    </div>

                    <div class="my-2">
                        <button type="button" id="addNewThumbBtn" class="btn btn-warning text-light">Agregar nueva
                            foto</button>
                    </div>

                    <ul id="list-photos-added" class="list-group"></ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>